.font-style{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* sherd styles */

main > section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}

.btn-primary{
    padding: 20px;
    background-color:#FF900E ;
    color: #FFFFFF;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

/* header section */

.bg-header{
    background-color: rgba(255, 144, 14, 0.1);
    
}

/* nav styles */
.all-nav, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.all-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}
.link-items{
    display: flex;
}

.item{
    list-style: none;
    margin-right: 30px;
}

.link-item{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 18px;
    font-weight: 400;
}

/* banner section */

.banner-img{
    max-width: 100%;   
    
}

.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}

.banner-detail{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(114, 114, 114, 1) ;
}

/* main quick section */
.quick-list{
    display: flex;
    gap: 50px;
    align-items: center;

}

.img-side{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
}

.img-side img{
    max-width: 100%;
    border-radius: 15px;
}

/* quick list text  */

.text-side{
    width: 537px;
}

.quick-title{
    font-size: 2.8 rem;
    font-weight: bold;
}
#Quick-list{
color: rgba(114, 114, 114, 1);
font-weight: 500;
}

.Features{
    color: #FF900E;
}

/* features section */

.features{
    display: flex;
    gap: 120px;
    
    
}
.feature-text{
    max-width: 580px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}

.feature-discription{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
}

/* cart stytles */

.feature-cart{
  box-shadow: 0px 3px 20px 0px #0f0e0e2a;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.cart-titles{
    font-size: 1.26rem;
    font-weight: 600;
}
.cart-detiel{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
}

.feature-image img{
    width: 708px;
    height: 100vh;
    border-radius: 8px;
    
}
#button-jigjag{
 padding: 45px;
 background-color: #FF900E;
 color: #FFFFFF;
 border: none;
 border-radius: 8px;
 font-size: 25px;
 margin-left: -100px;
 margin-top: -100px;
}

#feature-jigjag{
    font-size: 4rem;
    font-weight: bold;
    padding: 40px;


}

/* cart section */
.cart{
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}

.fact-cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    margin-top: 100px;
    
}

.fact-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}

.fact-ditails{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
    width: 542px;
}

.cart-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
    margin-top: 5px;
    margin-bottom: 15px;
    
}

.cart-headng{
    font-size: 1.3rem;
    font-weight: 500;
    color:rgba(66, 66, 66, 1);
    
}

/* sponspors section */

.spons-text{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}

.spons-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}

.spons-dis{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
}

.spons-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.spons-container img{
    filter: grayscale(100%);
}

/* footer section */
.arci-footer{
    margin: 60px auto;
    text-align: center;
    width: 1440px;
}
.footer-dis{
    color: rgba(114, 114, 114, 1);
    background-color: #fce3c5;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.5rem;
}

/* header responsive  */
@media screen and (max-width:576px) {
    .all-nav, .link-items{
        flex-direction: column;
        text-align: center;
    }

    .quick-list{
        flex-direction: column;
        
    }

    .img-side{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .text-side{
        width: 100%;
    }

    .fact-cart{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-ditails{
        width: 100%;
    }

    .cart{
        padding: 5px;
    }
    /* .spons-container */
    .spons-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        justify-items: center;
    }

    .spons-text{
        max-width: 100%;
    }

    /* feature section */
    .features{
        flex-direction: column;
        gap: 20px;
    }

    .feature-image img{
        width: 100%;
    }

    #button-jigjag{
        /* margin-top:20px;
        margin-left: 20px; */
        margin: 20px auto;
        padding: 20px;
    }
    /* footer section */
    .arci-footer{
        width:100%;
        padding: 5px;

    }

}
/* medium responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    /* .all-nav, .link-items{
        flex-direction: column;
        text-align: center;
    } */
}
    
