.font-style{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* sherd styles */

main > section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}

.btn-primary{
    padding: 20px;
    background-color:#FF900E ;
    color: #FFFFFF;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

/* header section */

.bg-header{
    background-color: rgba(255, 144, 14, 0.1);
    
}

/* nav styles */
.all-nav, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.all-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}
.link-items{
    display: flex;
}

.item{
    list-style: none;
    margin-right: 30px;
}

.link-item{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 18px;
    font-weight: 400;
}

/* banner section */

.banner-img{
    max-width: 100%;   
    
}

.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}

.banner-detail{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(114, 114, 114, 1) ;
}

/* main quick section */
.quick-list{
    display: flex;
    gap: 50px;
    align-items: center;

}

.img-side{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
}

.img-side img{
    max-width: 100%;
    border-radius: 15px;
}

/* quick list text  */

.text-side{
    width: 537px;
}

.quick-title{
    font-size: 2.8 rem;
    font-weight: bold;
}
#Quick-list{
color: rgba(114, 114, 114, 1);
font-weight: 500;
}

.Features{
    color: #FF900E;
}

/* cart section */
.cart{
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}

.fact-cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    margin-top: 100px;
    
}

.fact-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}

.fact-ditails{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
    width: 542px;
}

.cart-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
    margin-top: 5px;
    margin-bottom: 15px;
    
}

.cart-headng{
    font-size: 1.3rem;
    font-weight: 500;
    color:rgba(66, 66, 66, 1);
    
}


/* header responsive  */
@media screen and (max-width:576px) {
    .all-nav, .link-items{
        flex-direction: column;
        text-align: center;
    }

    .quick-list{
        flex-direction: column;
        
    }

    .img-side{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .text-side{
        width: 100%;
    }

    .fact-cart{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-ditails{
        width: 100%;
    }

    .cart{
        padding: 5px;
    }

}
    
